@using EchoChat.Models.ViewModels.Calls
@model CallsViewModel

<div class="row">
    <div class="col">
        @foreach (var user in Model.Users)
        {
            <div class="d-flex justify-content-between align-items-center p-2 bg-info bg-opacity-10 m-2 border border-info rounded-1">
                <div>
                    @user.UserName
                </div>
                <div class="call-options">
                    <button class="btn btn-primary" id=@($"audio-call-{user.Id}") onclick="onAudioCallClick(event)">
                        <i class="bi bi-telephone-fill"></i>
                    </button>
                    <button class="btn btn-primary" id=@($"video-call-{user.Id}") onclick="">
                        <i class="bi bi-camera-video-fill"></i>
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="col" id="call-container">
        <audio id="remote-audio" controls autoplay></audio>
    </div>
</div>
<input id="user-id" type="text" value="@Model.UserId" hidden />

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/calls.js"></script>
}